<template>
  <div @click="a">我是首页</div>
</template>

<script>
export default {
  name: "HomeView",
  data() {
    return {}
  },
  methods: {
    a() {
      console.log(this.$storage.get('token'), 'token')
    },
  }
}
</script>

<style scoped lang="scss">

</style>
