<template>
  <div @click="login">登录</div>
</template>

<script>
export default {
  name: 'loginView',
  data() {
    return {}
  },
  methods: {
    login() {
      this.$http._005({
        account: 17326976520,
        password: 123456
      }).then(response => {
        const { status, msg, data } = response
        console.log(data, 'data')
        if (!status) {
          this.$message.error(msg)
        } else {
          const { token } = data
          const userData = JSON.stringify(data)
          this.$storage.set('userData', userData)
          this.$storage.set('token', token)
          this.$router.push({ name: 'page_user' })
        }
      })

    }
  }
}
</script>
<style scoped lang="scss">

</style>
