<template>
  <div id="app">
<!--    <span @click="a">aaa</span>-->
    <span @click="aa">aaa</span>
    <router-view />
  </div>
</template>

<script>

export default {
  name: 'App',
  data() {
    return {}
  },
  methods: {
    a() {
      console.log(this.$storage.get('token'), 'token')
      this.$http._001({
        pageNum: 1,
        pageSize: 10
      })
      this.$http._000({
        pageNum: 1,
        pageSize: 10
      })
      this.$http._023({
        pageNum: 1,
        pageSize: 10
      })
    },
    aa() {
      this.$http.setup_001({
        pageNum: 1,
        pageSize: 10
      })
      // this.$router.push({ name: 'page_one'})
    }
  },
  mounted() {
    this.$storage.set('token', 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc0FkbWluIjoiMSIsInVzZXJJZCI6IjgyIiwiYWNjb3VudCI6IjE1NTM5MDc2MTg1IiwidGltZXN0YW1wIjoiMTY2NjA2Mzc0MTkzOSJ9.vMBuVdLtzsSdy68Vfmme7wdT-fU2j8VzcceOHCXtdhU')
    console.log(this.$storage, '====this.$storage')
  }
}
</script>

<style scoped lang="scss">
</style>
